<section class="content">
  <article id="ranking">
    <h1>Ranking de vereadores</h1>
    <ul>
      <% @ranking.each_with_index do |array, index | %>
        <% vereador_slug, total = array %>
        <% vereador = Repository.instance.vereador_por_slug vereador_slug %>
        <li>
          <a href="/vereador/<%= vereador["nome"].parameterize %>">
            <img class="avatar" src="<%= vereador["foto"] %>" alt="Ir para a página do vereador <%= vereador["nome"] %>" /> 
            <label class="name"><%= display_name vereador["nome"] %></label>
          </a>
          <label class="position"><%= index + 1 %>º</label>
        </li>
      <% end %>
    </ul>
  </article>
</section>
