<header id="hdr_in">
	<section class="limit">
		<h1><a href="index.html">Para onde foi meu voto?</a></h1>
	</section>
</header>
<article id="topo">
	<section class="limit">
		<div id="user">
			<img src="/assets/avat.png" alt="avatar" width="50px" height="50px">
			<h2>Voc&ecirc;!</h2>
		</div>
		<div id="politico">
			<img src="/assets/ver_ico.png" alt="avatar" width="50px" height="50px">
			<h2>Pol&iacute;tico honesto!</h2>
		</div>
	</section>
</article>

<article id="main_visu">
	<section class="limit">
		<div id="visua">
			<img src="/assets/ico_comparar.png" alt="proposta_icone" width="40" height="40">
			<h2>Projetos que o vereador prop&ocirc;s:</h2>
			<%= render :partial => "map_tree", :locals => { :projetos => @projetos }  %>
		</div>
	</section>
</article>


<article id="aprova">
	<section class="limit">
		<div id="visua2">
			<img src="/assets/ico_aprovado.png" alt="favor_icone" width="40" height="40">
			<h2>Projetos que o vereador votou a favor:</h2>
		</div>
	</section>
</article>


<article id="reprova">
	<section class="limit">
		<div id="visua3">
			<img src="/assets/ico_reprovado.png" alt="contra_icone" width="40" height="40">
			<h2>Projetos que o vereador votou contra:</h2>
		</div>
	</section>
</article>

<article id="gasto">
	<section class="limit">
		<div id="visua4">
			<img src="/assets/ico_gastos.png" alt="gasto_icone" width="40" height="40">
			<h2>Quantos R$ o vereador custou aos cofres p&uacute;blicos:</h2>
			<ul>
				<% @salarios.each do |salario| %>
				<li><%= salario['cargo'] %> <%= salario['funcionario'] %> <%= salario['valorFormatado']%></li>
				<% end %>
			</ul>
			<ul>
				<% @gastos.each do |gasto| %>
				<li><%= gasto['cargo'] %> <%= gasto['descricao'] %> <%= gasto['valorFormatado']%></li>
				<% end %>
			</ul>
		</div>
	</section>
</article>


<article id="gostou">
	<section class="limit">
		<div id="pergunta">
			<div id="box_star">
				<h2>Para voc&ecirc;, qual nota o seu candidato merece?</h2>
				<div id="star"></div>
			</div>
		</div>
	</section>
</article>