<section class="content">
  <article id="profile">

    <div id="profile-header">
      <div id="user">
        <img src="/assets/avat.png" alt="avatar" width="70px" height="70px">
        <h1 class="you">Você</h1>
      </div>

      <div id="politico" class="grid_9">
        <img src="<%= @vereador['foto']%>" alt="avatar" width="100px" height="100px">
        <label>Seu Representante</label>
        <h2>
          <a href="<%= @vereador['twitter'] %>">
            <%= @vereador['nome'].split(' ').collect{ |i| i.capitalize }.join(" ") %>
          </a>
        </h2>
        <h3><%= @vereador['partido'] %></h3>
      </div>
    </div>

    <h2 id="proposes">
      Projetos que você proprôs:
    </h2>
    <%= render :partial => "map_tree", :locals => { :projetos => @projetos }  %>
    
    <% total_cost = number_to_currency( (@salarios + @gastos).
      collect { |i| i['valor'].gsub(",", ".").gsub(".", "").to_i }.
      inject(0) { |r,i| r + i }, :unit => "R$ ").gsub(",", ".").gsub(".00",",00	") %>

    <h2 id="costs">
      Quantos R$ o vereador custou aos cofres públicos:
      <span><%= total_cost %></span>
    </h2>

    <div id="costs-data">
      <ul>
        <li><a href="#tabs-1">Verba de Gabinete</a></li> 
        <li><a href="#tabs-2">Gastos do Vereador</a></li> 
      </ul>
      
      <div id="tabs-1">  
        <table class="minimalist">
          <tr>
            <th>Cargo</th>
            <th>Funcionário</th>
            <th>Salário</th>
          </tr>
          <% @salarios.each do |salario| %>
          <tr>
            <td><%= salario['cargo'] %></td>
            <td><%= salario['funcionario'] %></td>
            <td><%= salario['valorFormatado'] %></td>
          </tr>
          <% end %>
        </table>
      </div>

      <div id="tabs-2">
        <table class="minimalist">
          <tr>
            <th>Descrição</th>
            <th>Total</th>
          </tr>
          <% @gastos.each do |gasto| %>
          <tr>
            <td><%= gasto['descricao'] %></td>
            <td><%= gasto['valorFormatado']%></td>
          </tr>
          <% end %>
        </table>
      </div>

    </div>

		<div id="evaluation">
      <h2>Para você, qual nota o seu candidato merece?</h2>
      <form id="avaliacao" action="/votar/<%= params[:id] %>" method="post">
        <input type="hidden" name="vereador" value="" />
        <input type="hidden" name="fator" value="" />
      </form>
      <div id="star"></div>
    </div>

    <%= render :partial => 'lightbox', :locals => {:projects => @projetos} %>

  </article>
</section>
