<!DOCTYPE html>
<html>
<head>
  <title>Para Onde Foi Meu Voto?</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<!-- Description and keywords -->
	<meta name="description" content="">
	<meta name="keywords" content="">
	
	<!-- Site Information -->
	<meta http-equiv="X-UA-Compatible" content="IE=9, IE=8, chrome=1">
	<link rel="canonical" href="">
		
	<!-- Viewport -->
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
	
	<!-- Author -->
	<link rel="author" href="">
	<meta name="google-site-verification" content="">
	
	<!-- Stylesheets & Webfonts -->
	<link href='http://fonts.googleapis.com/css?family=Cutive' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>

	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-32103647-2']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>

	<!--[if lt IE 9]><script src="js/ie6/warning.js"></script><script>window.onload=function(){e("/assets/")}</script><![endif]-->
	
</head>
<body>

  <header class="container_16">

    <h1 class="grid_7">
      <a title="Ir para a página inicial" href="/">Para Onde Foi Meu Voto?</a>
    </h1>

    <nav class="grid_7 round">
      <ul>
        <li><a href="/" title="Ir para a página inicial">Home</a></li>
        <li><a href="/ranking" title="Ir para o ranking de vereadores">Ranking</a></li>
        <li><a href="#" title="Venha conhecer a gente">Quem Somos</a></li>
      </ul>
    </nav>

    <a href="https://github.com/raphaelmolesim/Para-onde-foi-meu-voto">
      <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub">
    </a>
  </header>

  <section class="container_16" id="main-content">
    <%= yield %>
  </section>

  <footer class="container_16">
  </footer>  

  <% if flash[:notice] %>
    <script type="text/javascript">
      $().bar({
        color : '#FF6600',
        background_color : '#FFFFCC',
        position : 'top',
        removebutton : false,
        message : '<%= flash[:notice]%>',
        time : 4000
      });
    </script>
  <% end %>
</body>
</html>
